body {
    background-color: #b48cd5
}

div {
    align-items: center;
}

div h2 {
    font-family: "Georgia";
    display: inline-block;
    margin-left: 69px
}

h2:hover, tr:hover {
    color: gold;
    cursor: context-menu;
}

div table {
    font-family: "Georgia";
    display: inline-block;
    margin-left: 20px;
    border: 3px solid;
    border-style: groove;
    border-radius: 5px;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 5px 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 1px;
    border-collapse: collapse;
}

table#SGF tbody tr:nth-child(even) {
    background-color: #fdba74
}
table#SGF tbody tr:nth-child(odd) {
    background-color: #fed7aa
}
table#SGF thead {
    background-color: #ff8e43
}

table#dNBC tbody tr:nth-child(even) {
    background-color: #74fdf7
}
table#dNBC tbody tr:nth-child(odd) {
    background-color: #cefdff
}
table#dNBC thead {
    background-color: #43c1ff
}

table#SGF tbody tr:hover, table#SGF thead tr:hover {
    background-color: #3fd52a
}
table#dNBC tbody tr:hover {
    background-color: #d52a69
}
table#dNBC thead tr:hover {
    background-color: #d52a69
}

img.flag {
    margin: 5px;
    width: 50px;
    height: 35px
}

table#Profile {
    margin-left: 300px
}
table#Profile th {
    padding: 20px
}
table#Profile thead {
    background-color: #2dd4bf;
}
table#Profile tbody tr:nth-child(even) {
    background-color: #5eead4;
}
table#Profile tbody tr:nth-child(odd) {
    background-color: #99f6e4;
}